{% extends 'partials/base.html' %}
{% load static %}
{% block content%}
<main class="main">
        
        <div class="container mb-30">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50 mt-30">
                                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                                <figure class="border-radius-10">
                                                    <img src="{{ products.image.url }}" alt="product image" />
                                                </figure>
                                                {% for p in p_image %}
                                                <figure class="border-radius-10">
                                                    <img src="{{ p.images.url }}" alt="product image" />
                                                </figure>
                                                {% endfor %}

                                            </div>
                                            <!-- THUMBNAILS -->
                                            <div class="slider-nav-thumbnails">
                                                <div><img src="{{ products.image.url }}" alt="product image" /></div>
                                                {% for p in p_image %}
                                                <div><img src="{{ p.images.url }}" alt="product image" /></div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info pr-30 pl-30">
                                            <span class="stock-status out-stock"> -{{products.get_percentage|floatformat:0}}% </span>
                                            <h2 class="title-detail">{{products.title}}</h2>
                                            <div class="product-detail-rating">
                                                <div class="product-rate-cover text-end">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                   <span class="current-price text-brand">$</span> <span class="current-price text-brand"  id="current-product-price">{{products.price}}</span>
                                                    <span>
                                                        <span class="save-price font-md color3 ml-15">{{products.get_percentage|floatformat:0}}% Off</span>
                                                        <span class="old-price font-md ml-15">${{products.old_price}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="short-desc mb-30">
                                                <p class="font-lg">{{products.description|truncatechars:150}}</p>
                                            </div>
<!--                                            <div class="attr-detail attr-size mb-30">-->
<!--                                                <strong class="mr-10">Size / Weight: </strong>-->
<!--                                                <ul class="list-filter size-filter font-small">-->
<!--                                                    <li><a href="#">50g</a></li>-->
<!--                                                    <li class="active"><a href="#">60g</a></li>-->
<!--                                                    <li><a href="#">80g</a></li>-->
<!--                                                    <li><a href="#">100g</a></li>-->
<!--                                                    <li><a href="#">150g</a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
                                            <div class="detail-extralink mb-50">
<!--                                                <div class="detail-qty border radius">-->
<!--                                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>-->
<!--                                                    <span class="qty-val">1</span>-->
<!--                                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>-->
<!--                                                </div>-->

                                                    <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10 product-quantity-{{ products.id }}">
                                                <br>
                                                <div class="product-extra-link2">
<!--                                                    <input type="hidden" value="{{ products.id }}" class="product-id" name="" id="">-->
<!--                                                    <input type="hidden" value="{{ products.title }}" class="product-title" name="" id="">-->
<!--                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ products.id }}">-->
                                                        <input type="hidden" class="product-pid-{{ products.id }}" value="{{ products.pid }}">
                                                        <input type="hidden" class="product-image-{{ products.id }}" value="{{ products.image.url }}">
                                                        <input type="hidden" class="product-id-{{ products.id }}"  value="{{ products.pid }}">
                                                        <input type="hidden" class="product-title-{{ products.id }}" value="{{ products.title }}">

                                                    <button type="submit" id="add-to-cart-btn" class="button button-add-to-cart add-to-cart-btn" data-index="{{ products.id}}"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                
                                <div class="row mt-60">
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content%}